
.buttons{
    width: 400px;
    height: 500px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto auto;
}

.clickButton{
    color: white;
    background-color: rgb(78, 74, 74);
    border-radius: 25px;
    border: 2px solid black;
    font-size: 1.2rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 2px;
    display: flex;
    text-align: center;
}
.calArea{
    width: 400px;
    display: flex;

}
input{
    width: 100%;
    border: 2px solid gray;
    height: 50px;
    font-size: 1.2rem;
}